In [1]:
import pandas as pd

import datetime as dt

In [2]:
import warnings

warnings.filterwarnings('ignore')

In [3]:
df = pd.read_json('All_Beauty_5.json', lines=True)

In [4]:
df.head(2)

,overall,verified,reviewTime,reviewerID,asin,style,reviewerName,reviewText,summary,unixReviewTime,vote,image
0,5,True,"09 1, 2016",A3CIUOJXQ5VDQ2,B0000530HU,"{'Size:': ' 7.0 oz', 'Flavor:': ' Classic Ice ...",Shelly F,As advertised. Reasonably priced,Five Stars,1472688000,NaN,NaN
1,5,True,"11 14, 2013",A3H7T87S984REU,B0000530HU,"{'Size:': ' 7.0 oz', 'Flavor:': ' Classic Ice ...",houserules18,Like the oder and the feel when I put it on my...,Good for the face,1384387200,NaN,NaN

In [5]:
samp_df = df[['reviewerID', 'reviewerName', 'summary', 'reviewText']]

In [6]:
samp_df.head(2)

,reviewerID,reviewerName,summary,reviewText
0,A3CIUOJXQ5VDQ2,Shelly F,Five Stars,As advertised. Reasonably priced
1,A3H7T87S984REU,houserules18,Good for the face,Like the oder and the feel when I put it on my...

In [7]:
from textblob import TextBlob

In [8]:
sen = TextBlob('I love this product')

In [9]:
sen.sentiment

Sentiment(polarity=0.5, subjectivity=0.6)

In [10]:
sen.polarity

0.5

In [11]:
def get_senti(text):
    if isinstance(text, float):
        text = str(text)
    
    blob = TextBlob(text)
    
    senti = blob.sentiment.polarity
    
    if senti >0:
        return('Positive Review')
    elif senti == 0:
        return('Neutral Review')
    else:
        return('Negative Review')

In [12]:
samp_df['Sentiment Analysis'] = samp_df['reviewText'].apply(get_senti)

In [13]:
samp_df.head(2)

,reviewerID,reviewerName,summary,reviewText,Sentiment Analysis
0,A3CIUOJXQ5VDQ2,Shelly F,Five Stars,As advertised. Reasonably priced,Positive Review
1,A3H7T87S984REU,houserules18,Good for the face,Like the oder and the feel when I put it on my...,Negative Review